<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ProyectoProgra</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
	<link rel="stylesheet" href="~/css/font.css" />
    
</head>
<body>
<div class="social-bar">
    	<a href="https://www.facebook.com" class="icon icon-facebook" target="_blank"></a>
    	<a href="https://twitter.com" class="icon icon-twitter" target="_blank"></a>
    	<a href="https://www.youtube.com" class="icon icon-youtube" target="_blank"></a>
    	<a href="https://www.instagram.com" class="icon icon-instagram" target="_blank"></a>
  </div>
    <header>
        <nav class="navbar navbar-dark bg-primary navbar-expand-lg">
		  <a class="navbar-brand" href="#">
		  	<img src="~/imagenes/logo.png" alt="Logo" width="30" height="30" class="d-inline-block align-top">
		  	<span class="yellowT">Mi Computadora</span>
		  </a>
		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		    <span class="navbar-toggler-icon"></span>
		  </button>
		  <div class="Divider"></div>
		  <div class="collapse navbar-collapse" id="navbarSupportedContent">
		    <ul class="navbar-nav mr-auto">
		      <li class="nav-item active">
		        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="index">
		        	<span class="yellow">Inicio</span>
		        	<span class="sr-only">(current)</span>
		        </a>
		      </li>
		      <li class="nav-item active">
		        <a class="nav-link" asp-area="" asp-controller="Catalogo" asp-action="Index">
		        	<span class="yellow">Catalogo</span></a>
		      </li>
			   <li class="nav-item active">
		        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="nosotros">
		        	<span class="yellow">Nosotros</span></a>
		      </li>
		      <li class="nav-item active" >
		        <a class="nav-link" asp-area="" asp-controller="Contacto" asp-action="contactenos">
		        	<span class="yellow">Contáctenos</span></a>
		      </li>

			  <li class="nav-item active" >
		        <a class="nav-link" asp-area="" asp-controller="Producto" asp-action="Lista">
		        	<span class="yellow">Lista de Productos</span></a>
		      </li>
			
			  <li class="nav-link active">
				<a class="nav-link" asp-area="" asp-controller="Cart" asp-action="Index">
					<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart-fill" viewBox="0 0 16 16">
  						<path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
					</svg>
				</a>
			   </li>
              
		    </ul>
			
		    <partial name="_LoginPartial" />
		  </div>
		</nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - ProyectoProgra - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
