<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ProyectoProgra</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    
</head>
<body>
    <header>
        <nav class="navbar navbar-dark bg-primary navbar-expand-lg">
		  <a class="navbar-brand" href="#">
		  	<img src="imagenes/logo.png" alt="Logo" width="30" height="30" class="d-inline-block align-top">
		  	<span class="yellowT">Mi Computadora</span>
		  </a>
		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		    <span class="navbar-toggler-icon"></span>
		  </button>
		  <div class="Divider"></div>
		  <div class="collapse navbar-collapse" id="navbarSupportedContent">
		    <ul class="navbar-nav mr-auto">
		      <li class="nav-item active">
		        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="index">
		        	<span class="yellow">Inicio</span>
		        	<span class="sr-only">(current)</span>
		        </a>
		      </li>
		      <li class="nav-item dropdown">
		        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="yellow">
		          Productos</span>
		        </a>
		        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
		          <a class="dropdown-item" href="laptops.html"><span>Laptops</span></a>
		          <a class="dropdown-item" href="desktops.html"><span>Desktops</span></a>
		          <div class="dropdown-divider"></div>
		          <a class="dropdown-item" href="accsesorios.html"><span>Accesorios</span></a>
		        </div>
		      </li>
			  <li class="nav-item">
		        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="RegistrarUsu">
		        	<span class="yellow">Crear Cuenta</span></a>
		      </li>
			   <li class="nav-item">
		        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="nosotros">
		        	<span class="yellow">Nosotros</span></a>
		      </li>
		      <li class="nav-item">
		        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="contactenos">
		        	<span class="yellow">Contáctenos</span></a>
		      </li>
		    </ul>
		    <form class="form-inline my-2 my-lg-0">
		      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
		      <button class="btn btn-primary" type="submit"><span class="yellow">Search</span></button>
		    </form>
		  </div>
		</nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - ProyectoProgra - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
