@model ProyectoProgra.Models.Contacto

<section class="container">
		<div class="container" style="background-image:url(../imagenes/callcenter.png); height: 500px">
			
			<div class="row">	
				<h2>Bienvenido a nuestra area de Contácto</h2>
			</div>
			<div class="row">
			<h6>Complete el siguiente formulario</h6>
			</div>
		</div>
	</section>

<div class="row" >

    <div class="col-md-4">
        <h1 class="display-4">Formulario de contacto</h1>
        <form  method="POST" asp-controller="Contacto" asp-action="Registrar">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group row">
                <input asp-for="dni" class="form-control" placeholder="DNI" />
                <span asp-validation-for="dni" class="text-danger"></span>
                
            </div>

            <div class="form-group row">
                <input asp-for="Name" class="form-control" placeholder="Nombre" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="form-group row">
                <input asp-for="Lastname" class="form-control" placeholder="Apellido" />
                <span asp-validation-for="Lastname" class="text-danger"></span>
            </div>

            <div class="form-group row">
                <input asp-for="Email" class="form-control" placeholder="Correo Electrónico" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="form-group row">
                <input asp-for="District" class="form-control" placeholder="Distrito" />
                <span asp-validation-for="District" class="text-danger"></span>

            </div>

            <div class="form-group row">
                <input asp-for="Phone" class="form-control" placeholder="Número telefónico" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>

            <div class="form-group row">
                <input asp-for="Subject" class="form-control" placeholder="Título de motivo de contacto" />
                <span asp-validation-for="Subject" class="text-danger"></span>
            </div>
           
            <div class="form-group row">
                <textarea asp-for="Message" class="form-control" placeholder="Ingrese su mensaje de contacto" /></textarea>
                <span asp-validation-for="Message" class="text-danger"></span>
            </div>

            <div class="form-group" align='center'>
                 <button type="submit" class="btn btn-primary">Registrar</button> 
            </div>


        </form>

         <td>@Html.DisplayTextFor(model => model.Response)</td>  
    </div>

</div>