<section class="container">
		<br>
		<h3>Nosotros</h3>
		<br>

		<div class="card border-primary mb-3" style="max-width: 90%;">
  			<div class="card-header">Misión y Visión</div>
  				<div class="card-body text-primary">
    				<h5 class="card-title">Misión</h5>
    				<p class="card-text">Ofrecer un gran servicio de venta de computadoras, partes y servicios de alta calidad y conformidad a través de un excelente equipo de trabajo con el fin de satisfacer las necesidades de nuestros clientes.

					Nuestra meta es anticiparnos a las necesidades de nuestros clientes, y satisfacerlas con rapidez, amabilidad, cortesía, y de manera integral.

					Incrementar la productividad y competitividad de nuestros clientes por medio de la implementación y soporte a su hardware y todos los requerimientos que sean solicitados.

					Prestar un eficiente y oportuno servicio de asistencia técnica en el ramo de la informatica; así como también servir de apoyo a las empresas a nivel de soluciones de soporte, reparaciones y servicios a nuestros clientes.
				</p>
				<h5 class="card-title">Visión</h5>
				<p class="card-text">Ofrecer un servicio de calidad a nuestros clientes de acuerdo a los requerimientos planeados. ser la empresa lider en la venta de computadoras portatiles y de escritorio con las mejores marcas del mercado , para lo cual trabajaremos con estandares de calidad bien ejecutados para que los clientes nos prefieran.</p>
  			</div>
		</div>

		<br>
		<br>


		<h2>Ubícanos</h2>

		<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3279.6012221320148!2d-77.01613824601307!3d-12.171884747861201!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x7b4881c665f0f530!2sPlaza+Lima+Sur!5e0!3m2!1ses-419!2spe!4v1539580491464" width="1000" height="750" frameborder="0" style="border:0" allowfullscreen></iframe>
	</section>

	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</html>