
<section class="container">
		<br>
		<h3>Noticias de Tecnología</h3>
		<br>


		<div class="card border-secondary mb-3" style="max-width: 90%;">
  			<div class="card-header">Cuáles serán las principales tendencias tecnológicas en 2021</div>
  				<div class="card-body text-dark">
    				<p class="card-text">Puede que el próximo año no sea muy fácil para los directores ejecutivos de las grandes firmas tecnológicas.

                        Y es que cada vez aceleran más los esfuerzos por restar poder a compañías como Facebook, Amazon, Apple y Alphabet, la matriz de Google.

                        Las autoridades, especialmente en Estados Unidos y Europa, se están volviendo más estrictas sobre la competencia leal y es probable que esto sea un terreno de debate en 2021.

                        Sin embargo, si tus inquietudes tecnológicas son más rutinarias, es muy probable que el próximo año traiga varias novedades para ti.

                        Prepárate para que más tecnologías y servicios hagan tu trabajo desde casa más sencillo y seguro, por ejemplo.

                        Si quieres conocerlas, al igual que enterarte de las tendencias tecnológicas en el espacio aéreo y el comercio en 2021, te invito a seguir leyendo.
				</p>
  			</div>
		</div>

        <div class="card border-secondary mb-3" style="max-width: 90%;">
  			<div class="card-header">Lin Qi: qué es Yoozoo, la empresa del multimillonario chino que murió envenenado</div>
  				<div class="card-body text-dark">
    				<p class="card-text">El mundo de los videojuegos en China recibió con conmoción la noticia de la muerte el 25 de diciembre de Lin Qi, un millonario chino de 39 años que supuestamente fue envenenado.

                        El empresario era una estrella en este lucrativo mercado de entretenimiento de su país gracias a que en 2009 había fundado la exitosa compañía de videojuegos Yoozoo (también conocida como Youzu Interactive).

                        Lin Qi dirigió con éxito el negocio durante un período en el que la industria sufrió cambios sustanciales por la transición hacia los juegos móviles.

                        Lin controlaba un 24% de Yoozoo, según reporta la agencia de noticias EFE, y figuraba en el puesto 870 de la lista de personas más ricas de China elaborada por la revista Hurun, con un patrimonio neto de alrededor de 6.800 millones de yuanes (US$1.292 millones).
				</p>
  			</div>
		</div>

        <div class="card border-secondary mb-3" style="max-width: 90%;">
  			<div class="card-header">SolarWinds: 5 ataques informáticos de Rusia que transformaron la ciberseguridad en Estados Unidos</div>
  				<div class="card-body text-dark">
    				<p class="card-text">El último ciberataque atribuido a Rusia es una especie de recordatorio de que Moscú es el adversario más antiguo de Estados Unidos en el ciberespacio.

                        Hace unos días, la empresa SolarWinds, que provee la red SolarWinds Orion a 300.000 clientes en todo el mundo, incluyendo el Ejército de EE.UU., el Pentágono, el Departamento de Estado, de Comercio, el de Tesoro y la Oficina presidencial estadounidense., entre otras entidades, reconoció que había sufrido un ataque virtual.

                        La compañía indicó que las actualizaciones de su sistema habían quedado comprometidas a causa de un código malicioso "altamente sofisticado" y "extremadamente dirigido". Añadieron que el hecho se originó probablemente por parte de un Estado entre marzo y junio de este año, y que es posible que unos 18.000 de sus clientes resultaron afectados.

                        El secretario de Estado de EE.UU., Mike Pompeo, culpó a Rusia de lo que se describe como el peor ataque de ciberespionaje contra el gobierno estadounidense.
				</p>
  			</div>
		</div>

        <div class="card border-secondary mb-3" style="max-width: 90%;">
  			<div class="card-header">SolarWinds: 5 ataques informáticos de Rusia que transformaron la ciberseguridad en Estados Unidos</div>
  				<div class="card-body text-dark">
    				<p class="card-text">El último ciberataque atribuido a Rusia es una especie de recordatorio de que Moscú es el adversario más antiguo de Estados Unidos en el ciberespacio.

                        Hace unos días, la empresa SolarWinds, que provee la red SolarWinds Orion a 300.000 clientes en todo el mundo, incluyendo el Ejército de EE.UU., el Pentágono, el Departamento de Estado, de Comercio, el de Tesoro y la Oficina presidencial estadounidense., entre otras entidades, reconoció que había sufrido un ataque virtual.

                        La compañía indicó que las actualizaciones de su sistema habían quedado comprometidas a causa de un código malicioso "altamente sofisticado" y "extremadamente dirigido". Añadieron que el hecho se originó probablemente por parte de un Estado entre marzo y junio de este año, y que es posible que unos 18.000 de sus clientes resultaron afectados.

                        El secretario de Estado de EE.UU., Mike Pompeo, culpó a Rusia de lo que se describe como el peor ataque de ciberespionaje contra el gobierno estadounidense.
				</p>
  			</div>
		</div>

        <div class="card border-secondary mb-3" style="max-width: 90%;">
  			<div class="card-header">Los "niñeros virtuales" que están cuidando niños en medio de la pandemia de coronavirus</div>
  				<div class="card-body text-dark">
    				<p class="card-text">¿Cuidado infantil a distancia y remoto? Puede parecer un concepto extraño, pero ya es una realidad en tiempos de pandemia.

                        Para muchos padres el cuidado de los niños está siendo un todo un reto este año, así que varias empresas tecnológicas se pusieron a trabajar en una solución: cuidadores "virtuales".

                        El servicio está diseñado para que mamá o papá puedan trabajar desde casa mientras otra persona, a través de la pantalla de una computadora, mantiene a los niños ocupados.

                        "Los niños más pequeños necesitan un poco de entretenimiento, y si los padres están trabajando, no siempre pueden darles el tiempo que necesitan", le cuenta a la BBC Richard Conway, fundador de Childcare.co.uk, la mayor plataforma online de cuidado infantil en Reino Unido.

                        Su empresa ofrece un servicio virtual de cuidado de niños para atender a menores de al menos dos años de edad.

                        "Nosotros pensamos que ofrecer nannies virtuales, que son niñeros y niñeras reales que trabajan por videoconferencia, sería una gran solución".

                        Pero no todos están de acuerdo con que los cuidadores realicen sus tareas mediante llamadas de Zoom.

                        "A mucha gente le parece una idea loca que implica dejar al niño solo en casa", reconoce Conway.
				</p>
  			</div>
		</div>

		<br>
		<br>


	

	</section>

	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</html>