<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/css/site1.css" class="">
<body>
    

<div class="contenedor">
        <header>
            <div class="logo">
                <h1>
                    Accesorios para Laptops
                </h1>
                
        </header>
        <section class="grid" id="grid">
            <div class="item" 
            data-categoria="+mas" 
            data-etiquetas="accesorios coolers cooler">
                <div class="item-contenido">
                    <a asp-controller="Home" asp-action="productoslista"><img src="/imagenes/catalogo1.png" alt="" class=""></a>
                </div>
            </div>
            <div class="item" 
            data-categoria="procesadores" 
            data-etiquetas="procesadores intel ryzen amd ">
                <div class="item-contenido">
                    <img src="/imagenes/al1.png" alt="">
                </div>
            </div>
            <div class="item" 
            data-categoria="+mas" 
            data-etiquetas="cables">
                <div class="item-contenido">
                    <img src="/imagenes/al2.png" alt="">
                </div>
            </div>
            <div class="item" 
            data-categoria="+mas" 
            data-etiquetas="apple">
                <div class="item-contenido">
                    <img src="/imagenes/al3.png" alt="">
                </div>
            </div>
            <div class="item" 
            data-categoria="+mas" 
            data-etiquetas="audifonos">
                <div class="item-contenido">
                    <img src="/imagenes/al4.png" alt="">
                </div>
            </div>
            <div class="item" 
            data-categoria="case" 
            data-etiquetas="case cases">
                <div class="item-contenido">
                    <img src="/imagenes/al5.png" alt="">
                </div>
            </div>
            
        </section>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/web-animations-js@2.3.2/web-animations.min.js"></script>
    <script src="https://unpkg.com/muuri@0.8.0/dist/muuri.min.js"></script>
    <script src="/js/main1.js"></script>
</body>